file.json
models/__pycache__/
models/engine/__pycache__/
test_params_create
file
*.pyc
*.txt
main_place_amenities.py
main_delete.py
test.sh
web_flask/__pycache__/*
web_flask/flask_blog
web_flask/venv
*json*
*reverse*
reset*
test_cities_getter.py
main.py
py_tar.py
*-dump.sql
